In [1]:
import pandas as pd
from pathlib import Path

In [2]:
dirname = Path(
    "/Users/nicholashand/Software/phl-budget-data/src/phl_budget_data/data/etl/processed/collections/by-sector/rtt/"
)

In [3]:
files = dirname.glob("*.csv")

In [4]:
data = []
for f in files:
    
    tag = f.stem
    year, month = tag.split("_")
    year = int(year)
    month = int(month)
    
    data.append(pd.read_csv(f).assign(year=year, month=month))
    
data = pd.concat(data)

In [5]:
data.head()

,sector,num_records,total,parent_sector,year,month
0,General Commercial,78.0,1701873.0,Non-Residential,2015,1
1,"Office Buildings, Hotels and Garages",4.0,338250.0,Non-Residential,2015,1
2,Industrial,30.0,822159.0,Non-Residential,2015,1
3,Other Non-Residential,94.0,638214.0,Non-Residential,2015,1
4,Non-Residential,206.0,3500496.0,NaN,2015,1

In [9]:
data["date"] = pd.to_datetime(data["month"].astype(str) + "/" + data["year"].astype(str))

In [14]:
quarterly_data = (
    data.query("year < 2021")
    .groupby([pd.Grouper(freq="QS", key="date"), "sector"])[["num_records", "total"]]
    .sum()
    .reset_index()
)

In [16]:
quarterly_data.to_excel(
    "../../../data/01_raw/historical/rtt/quarterly-rtt-data.xlsx", index=False
)